.App {
  font-family: sans-serif;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cardstyle {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.searchBar {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}

